.game-canvas{
  background-color: black;
}
.game-div{
   margin-left:10px;
}
.start-button{
  padding-right: 30px;
}
.stop-button{
  padding-right: 30px;
}
.stat-div{
  text-align: center;
}
.display-card{
  text-align: center;
}
.controls-class{
  text-align: center;
}
.control-b{
  width: 100%;
  height:100%;
}
table{
  margin-left: 10px;
}
th{
  height: 60px;
}
.score-label{
  padding-right:50px;
  font-size: 20px;
}