<ion-header [translucent]="true" class="header-container">
  <ion-toolbar>
    <ion-title>
      Tetris 2
    </ion-title>
    <ion-button *ngIf="!isStarted" class="start-button" (click)="start()" slot="end">start</ion-button>
    <ion-button color="danger" *ngIf="isStarted" class="stop-button" (click)="pause()" slot="end">pause</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class= "game-div">
    <canvas #canvas class="game-canvas" width="{{w}}" height="{{h}}"></canvas>
  </div>
  <div class = "controls-class">
    <table width="{{w}}">
      <th><ion-button class = "control-b" (click) = "left()">LEFT</ion-button></th>
      <th><ion-button class = "control-b" (click) = "mutate()">Mutate</ion-button></th>
      <th><ion-button class = "control-b" (click) = "right()">RIGHT</ion-button></th>
    </table>
  </div>
  <!-- <div class = "testing-div">
    <p>{{currentPiece.xyCoords | json}}</p>
  </div> -->
</ion-content>
