.game-canvas{
  background-color: black;
}
.game-div{
   margin-top:20px;
   margin-left:20px;
}
.start-button{
  padding-right: 30px;
}
.stop-button{
  padding-right: 30px;
}
.stat-div{
  text-align: center;
}
table{
  margin-left: 10px;
}
.cell-1{
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.display-card{
  text-align: center;
}