.game-canvas{
  background-color: black;
}
.game-div{
   margin-left:10px;
}
.start-button{
  padding-right: 30px;
}
.stop-button{
  padding-right: 30px;
}
.stat-div{
  text-align: center;
}
.display-card{
  text-align: center;
}
.controls-class{
  text-align: center;
}
.control-b{
  width: 100%;
}
table{
  margin-left: 10px;
}
.testing-div{
  text-align: center;
}