<ion-header [translucent]="true" class="header-container">
  <ion-toolbar>
    <ion-title>
      Tetris 2
    </ion-title>
    <ion-button class="start-button" (click) = "start()" slot="end">start</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-container">
  <div class= "game-div">
    <canvas #canvas class="game-canvas" width="{{w}}" height="{{h}}"></canvas>
  </div>
  <div class="stat-div">
    <ion-button class="start-button" (click) = "left()" slot="end">LEFT</ion-button>
    <ion-button class="start-button" (click) = "down()" slot="end">MUTATE</ion-button>
    <ion-button class="start-button" (click) = "right()" slot="end">RIGHT</ion-button>
  </div>
</ion-content>
